body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {

	height: 100vh;
	display: flex;
	flex-direction: column;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
	font-family: sans-serif;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	flex: 1;
}

  nav {
	font-size: 30px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
  }

  ul {
	list-style: none;
	margin: 0;
	padding: 5px;
  }
  li {
	display: inline-block;
  }

  button {
	font-size: inherit;
	background: none;
	border: 0;
  }

  .card {
	font-size: 60px;
	border: 1px solid #00000033;
	width: 200px;
	border-radius: 20px;
	height: 200px;
	line-height: 200px;
	user-select: none;
  }

  .card:hover {
	cursor: pointer;
	background: #00000011;
  }
